$selected-bg-color:var(--selected-bg-color);
$selected-border-color:var(--selected-border-color);
$correct-bg-color:var(--correct-bg-color);
$correct-border-color:var(--correct-border-color);
$wrong-bg-color:var(--wrong-bg-color);
$wrong-border-color:var(--wrong-border-color);
$hover-border-color:var(--hover-border-color);
$inactive-btn-color:var(--inactive-btn-colo)r;
$hover-btn-color:var(--hover-btn-color);
$pressed-btn-color:var(--pressed-btn-color);
$background-color:var(--background-color);
$text-color: var(text-color);
$hexagon-answer-color: var(--hexagon-answer-color);
$border-inactive-color: var(--border-inactive-color);